In [21]:
library(dplyr)
library(ggplot2)
library(rlang)

In [22]:
options(repr.plot.width = 8, repr.plot.height = 8)

In [23]:
# Load the data
df <- read.csv("employees_details.csv", stringsAsFactors = TRUE)

# Check the structure of the data
str(df)

'data.frame':	34 obs. of  19 variables:
 $ Employee..             : int  10001 10002 10003 10004 10005 10006 10007 10008 10009 10010 ...
 $ Last.Name              : Factor w/ 30 levels "Aguilar","Alvaro",..: 11 15 3 22 13 29 26 23 4 2 ...
 $ First.Name             : Factor w/ 34 levels "Alice","Allison ",..: 26 5 7 19 15 3 8 1 31 30 ...
 $ Birthday               : Factor w/ 34 levels "01/11/1942","01/14/1987",..: 27 16 19 15 24 6 10 13 25 11 ...
 $ Address                : Factor w/ 34 levels "#284 T. Morato corner, Scout Rallos Street, Quezon City",..: 34 33 32 9 31 5 26 4 21 1 ...
 $ Phone.Number           : Factor w/ 34 levels "023-079-009",..: 30 6 31 22 5 27 23 34 9 2 ...
 $ SSS..                  : Factor w/ 34 levels "11-5062972-7",..: 14 29 8 11 26 23 9 32 13 34 ...
 $ Philhealth..           : num  8.20e+11 3.32e+11 1.77e+11 3.42e+11 9.57e+11 ...
 $ TIN..                  : Factor w/ 34 levels "031-702-374-000",..: 20 29 34 31 1 15 28 32 27 23 ...
 $ Pag.ibig..             : num  6.91e+11 6.64e+11 1.72e+11 4.17e+11 9.52e+11 ...
 $ Status                 : Factor w/ 2 levels "Probationary",..: 2 2 2 2 2 2 2 2 2 2 ...
 $ Position               : Factor w/ 18 levels "Account Manager",..: 5 8 6 7 13 10 12 11 11 4 ...
 $ Immediate.Supervisor   : Factor w/ 12 levels "Alvaro, Roderick",..: 7 4 4 4 5 5 12 11 11 2 ...
 $ Basic.Salary           : Factor w/ 12 levels "22,500","23,250",..: 12 11 11 11 9 9 7 1 1 9 ...
 $ Rice.Subsidy           : Factor w/ 1 level "1,500": 1 1 1 1 1 1 1 1 1 1 ...
 $ Phone.Allowance        : Factor w/ 4 levels "1,000","2,000",..: 2 2 2 2 1 1 4 3 3 1 ...
 $ Clothing.Allowance     : Factor w/ 3 levels "1,000","500",..: 1 1 1 1 1 1 3 2 2 1 ...
 $ Gross.Semi.monthly.Rate: Factor w/ 12 levels "11,250","11,625",..: 12 11 11 11 9 9 7 1 1 9 ...
 $ Hourly.Rate            : num  536 357 357 357 314 ...

In [24]:
# Check the first 6 rows in the dataframe (df)
head(df)

  Employee.. Last.Name  First.Name   Birthday
1 10001      Garcia     Manuel III   10/11/1983
2 10002      Lim        Antonio      06/19/1988
3 10003      Aquino     Bianca Sofia 08/04/1989
4 10004      Reyes      Isabella     06/16/1994
5 10005      Hernandez  Eduard       09/23/1989
6 10006      Villanueva Andrea Mae   02/14/1988
  Address
1 Valero Carpark Building Valero Street 1227, Makati City
2 San Antonio De Padua 2, Block 1 Lot 8 and 2, Dasmarinas, Cavite
3 Rm. 402 4/F Jiao Building Timog Avenue Cor. Quezon Avenue 1100, Quezon City
4 460 Solanda Street Intramuros 1000, Manila
5 National Highway, Gingoog,  Misamis Occidental
6 17/85 Stracke Via Suite 042, Poblacion, Las Piñas 4783 Dinagat Islands
  Phone.Number SSS..        Philhealth.. TIN..           Pag.ibig..   Status
1 966-860-270  44-4506057-3 820126853951 442-605-657-000 691295330870 Regular
2 171-867-411  52-2061274-9 331735646338 683-102-776-000 663904995411 Regular
3 966-889-370  30-8870406-2 177451189665 971-711-280-000 171519773969 Regular
4 786-868-477  40-2511815-0 341911411254 876-809-437-000 416946776041 Regular
5 088-861-012  50-5577638-1 957436191812 031-702-374-000 952347222457 Regular
6 918-621-603  49-1632020-8 382189453145 317-674-022-000 441093369646 Regular
  Position                  Immediate.Supervisor Basic.Salary Rice.Subsidy
1 Chief Executive Officer   NULL                 90,000       1,500
2 Chief Operating Officer   Garcia, Manuel III   60,000       1,500
3 Chief Finance Officer     Garcia, Manuel III   60,000       1,500
4 Chief Marketing Officer   Garcia, Manuel III   60,000       1,500
5 IT Operations and Systems Lim, Antonio         52,670       1,500
6 HR Manager                Lim, Antonio         52,670       1,500
  Phone.Allowance Clothing.Allowance Gross.Semi.monthly.Rate Hourly.Rate
1 2,000           1,000              45,000                  535.71
2 2,000           1,000              30,000                  357.14
3 2,000           1,000              30,000                  357.14
4 2,000           1,000              30,000                  357.14
5 1,000           1,000              26,335                  313.51
6 1,000           1,000              26,335                  313.51

In [25]:
# check df dimensions; check for the # of rows as observations
dim(df)

[1] 34 19

In [26]:
# Check the column names
colnames(df)

 [1] "Employee.."              "Last.Name"
 [3] "First.Name"              "Birthday"
 [5] "Address"                 "Phone.Number"
 [7] "SSS.."                   "Philhealth.."
 [9] "TIN.."                   "Pag.ibig.."
[11] "Status"                  "Position"
[13] "Immediate.Supervisor"    "Basic.Salary"
[15] "Rice.Subsidy"            "Phone.Allowance"
[17] "Clothing.Allowance"      "Gross.Semi.monthly.Rate"
[19] "Hourly.Rate"

In [27]:
# Check for missing values in each column
colSums(is.na(df))

             Employee..               Last.Name              First.Name
                      0                       0                       0
               Birthday                 Address            Phone.Number
                      0                       0                       0
                  SSS..            Philhealth..                   TIN..
                      0                       0                       0
             Pag.ibig..                  Status                Position
                      0                       0                       0
   Immediate.Supervisor            Basic.Salary            Rice.Subsidy
                      0                       0                       0
        Phone.Allowance      Clothing.Allowance Gross.Semi.monthly.Rate
                      0                       0                       0
            Hourly.Rate
                      0

In [28]:
# Check for duplicate rows
duplicates <- duplicated(df)
sum(duplicates)

[1] 0

In [29]:
# Identify numeric columns
numeric_cols <- names(df)[sapply(df, is.numeric)]

# Identify categorical (factor) columns
categorical_cols <- names(df)[sapply(df, is.factor)]

# Output the results
numeric_cols
categorical_cols

[1] "Employee.."   "Philhealth.." "Pag.ibig.."   "Hourly.Rate"

 [1] "Last.Name"               "First.Name"
 [3] "Birthday"                "Address"
 [5] "Phone.Number"            "SSS.."
 [7] "TIN.."                   "Status"
 [9] "Position"                "Immediate.Supervisor"
[11] "Basic.Salary"            "Rice.Subsidy"
[13] "Phone.Allowance"         "Clothing.Allowance"
[15] "Gross.Semi.monthly.Rate"

In [30]:
# List of columns that have comma-separated values, mistinterpreted as factors or categorical
columns_to_clean <- c('Basic.Salary', 'Rice.Subsidy', 'Phone.Allowance', 'Clothing.Allowance', 'Gross.Semi.monthly.Rate')

# Apply cleaning to the specified columns
df[columns_to_clean] <- lapply(df[columns_to_clean], function(x) {
  # Remove commas and convert to numeric
  as.numeric(gsub(",", "", x))
})

# Check the cleaned dataframe
str(df)

'data.frame':	34 obs. of  19 variables:
 $ Employee..             : int  10001 10002 10003 10004 10005 10006 10007 10008 10009 10010 ...
 $ Last.Name              : Factor w/ 30 levels "Aguilar","Alvaro",..: 11 15 3 22 13 29 26 23 4 2 ...
 $ First.Name             : Factor w/ 34 levels "Alice","Allison ",..: 26 5 7 19 15 3 8 1 31 30 ...
 $ Birthday               : Factor w/ 34 levels "01/11/1942","01/14/1987",..: 27 16 19 15 24 6 10 13 25 11 ...
 $ Address                : Factor w/ 34 levels "#284 T. Morato corner, Scout Rallos Street, Quezon City",..: 34 33 32 9 31 5 26 4 21 1 ...
 $ Phone.Number           : Factor w/ 34 levels "023-079-009",..: 30 6 31 22 5 27 23 34 9 2 ...
 $ SSS..                  : Factor w/ 34 levels "11-5062972-7",..: 14 29 8 11 26 23 9 32 13 34 ...
 $ Philhealth..           : num  8.20e+11 3.32e+11 1.77e+11 3.42e+11 9.57e+11 ...
 $ TIN..                  : Factor w/ 34 levels "031-702-374-000",..: 20 29 34 31 1 15 28 32 27 23 ...
 $ Pag.ibig..             : num  6.91e+11 6.64e+11 1.72e+11 4.17e+11 9.52e+11 ...
 $ Status                 : Factor w/ 2 levels "Probationary",..: 2 2 2 2 2 2 2 2 2 2 ...
 $ Position               : Factor w/ 18 levels "Account Manager",..: 5 8 6 7 13 10 12 11 11 4 ...
 $ Immediate.Supervisor   : Factor w/ 12 levels "Alvaro, Roderick",..: 7 4 4 4 5 5 12 11 11 2 ...
 $ Basic.Salary           : num  90000 60000 60000 60000 52670 ...
 $ Rice.Subsidy           : num  1500 1500 1500 1500 1500 1500 1500 1500 1500 1500 ...
 $ Phone.Allowance        : num  2000 2000 2000 2000 1000 1000 800 500 500 1000 ...
 $ Clothing.Allowance     : num  1000 1000 1000 1000 1000 1000 800 500 500 1000 ...
 $ Gross.Semi.monthly.Rate: num  45000 30000 30000 30000 26335 ...
 $ Hourly.Rate            : num  536 357 357 357 314 ...

In [31]:
# Identify numeric columns
numeric_cols <- names(df)[sapply(df, is.numeric)]

# Identify categorical (factor) columns
categorical_cols <- names(df)[sapply(df, is.factor)]


# List of columns to treat as factors
columns_to_factor <- c('Philhealth..', 'Pag.ibig..', 'Employee..')

# Convert these columns to factors
df[columns_to_factor] <- lapply(df[columns_to_factor], as.factor)


# Output the results
numeric_cols
categorical_cols

[1] "Employee.."              "Philhealth.."
[3] "Pag.ibig.."              "Basic.Salary"
[5] "Rice.Subsidy"            "Phone.Allowance"
[7] "Clothing.Allowance"      "Gross.Semi.monthly.Rate"
[9] "Hourly.Rate"

 [1] "Last.Name"            "First.Name"           "Birthday"
 [4] "Address"              "Phone.Number"         "SSS.."
 [7] "TIN.."                "Status"               "Position"
[10] "Immediate.Supervisor"

In [32]:
# Function to detect outliers based on IQR
detect_outliers <- function(df) {
  outliers <- sapply(df, function(x) {
    if (is.numeric(x)) {
      Q1 <- quantile(x, 0.25, na.rm = TRUE)
      Q3 <- quantile(x, 0.75, na.rm = TRUE)
      IQR <- Q3 - Q1
      lower_bound <- Q1 - 1.5 * IQR
      upper_bound <- Q3 + 1.5 * IQR
      sum(x < lower_bound | x > upper_bound, na.rm = TRUE)
    } else {
      return(0)
    }
  })
  
  return(outliers)
}

# Detect outliers in numeric columns
outlier_counts <- detect_outliers(df)
outlier_counts

             Employee..               Last.Name              First.Name
                      0                       0                       0
               Birthday                 Address            Phone.Number
                      0                       0                       0
                  SSS..            Philhealth..                   TIN..
                      0                       0                       0
             Pag.ibig..                  Status                Position
                      0                       0                       0
   Immediate.Supervisor            Basic.Salary            Rice.Subsidy
                      0                       0                       0
        Phone.Allowance      Clothing.Allowance Gross.Semi.monthly.Rate
                      4                       0                       0
            Hourly.Rate
                      0

In [33]:
summary(df)

   Employee..     Last.Name       First.Name       Birthday
 10001  : 1   Martinez : 2   Alice     : 1   01/11/1942: 1
 10002  : 1   Romualdez: 2   Allison   : 1   01/14/1987: 1
 10003  : 1   San Jose : 2   Andrea Mae: 1   01/27/1989: 1
 10004  : 1   Santos   : 2   Anthony   : 1   02/09/1992: 1
 10005  : 1   Aguilar  : 1   Antonio   : 1   02/12/1991: 1
 10006  : 1   Alvaro   : 1   Beatriz   : 1   02/14/1988: 1
 (Other):28   (Other)  :24   (Other)   :28   (Other)   :28
                                                                    Address
 #284 T. Morato corner, Scout Rallos Street, Quezon City                : 1
 06A Gulgowski Extensions, Bongabon 6085 Zamboanga del Sur              : 1
 08 Grant Drive Suite 406, Poblacion, Iloilo City 9186 La Union         : 1
 12A/33 Upton Isle Apt. 420, Roxas City 1814 Surigao del Norte          : 1
 17/85 Stracke Via Suite 042, Poblacion, Las Piñas 4783 Dinagat Islands : 1
 22A/52 Lubowitz Meadows, Pililla 4895 Zambales                         : 1
 (Other)                                                                :28
      Phone.Number          SSS..          Philhealth..             TIN..
 023-079-009: 1    11-5062972-7: 1   126445315651: 1    031-702-374-000: 1
 053-381-386: 1    20-2987501-5: 1   136451303068: 1    101-558-994-000: 1
 070-766-300: 1    26-7145133-4: 1   177451189665: 1    103-100-522-000: 1
 078-854-208: 1    26-8768374-1: 1   233693897247: 1    121-203-336-000: 1
 088-861-012: 1    26-9647608-3: 1   239192926939: 1    122-244-511-000: 1
 171-867-411: 1    27-2090208-8: 1   308366860059: 1    187-500-345-000: 1
 (Other)    :28    (Other)     :28   (Other)     :28    (Other)        :28
        Pag.ibig..          Status                    Position
 101205445886: 1   Probationary:11   Account Rank and File:14
 104907708845: 1   Regular     :23   Account Team Leader  : 2
 110018813465: 1                     HR Rank and File     : 2
 113017988667: 1                     Payroll Rank and File: 2
 113071293354: 1                     Account Manager      : 1
 114901859343: 1                     Accounting Head      : 1
 (Other)     :28                     (Other)              :12
         Immediate.Supervisor  Basic.Salary    Rice.Subsidy  Phone.Allowance
 De Leon, Selena   :7         Min.   :22500   Min.   :1500   Min.   : 500.0
 Mata, Christian   :7         1st Qu.:22688   1st Qu.:1500   1st Qu.: 500.0
 Garcia, Manuel III:3         Median :24750   Median :1500   Median : 500.0
 Lim, Antonio      :3         Mean   :37504   Mean   :1500   Mean   : 829.4
 Reyes, Isabella   :3         3rd Qu.:52670   3rd Qu.:1500   3rd Qu.:1000.0
 Salcedo, Anthony  :3         Max.   :90000   Max.   :1500   Max.   :2000.0
 (Other)           :8
 Clothing.Allowance Gross.Semi.monthly.Rate  Hourly.Rate
 Min.   : 500.0     Min.   :11250           Min.   :133.9
 1st Qu.: 500.0     1st Qu.:11344           1st Qu.:135.0
 Median : 500.0     Median :12375           Median :147.3
 Mean   : 711.8     Mean   :18752           Mean   :223.2
 3rd Qu.:1000.0     3rd Qu.:26335           3rd Qu.:313.5
 Max.   :1000.0     Max.   :45000           Max.   :535.7

In [34]:
write.csv(df, "employees_details_cleaned.csv")